/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #eee;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}


/* Layout search bar */
.mdl-search {
    margin: 0 50px;
    align-items: center;
    justify-content: center;
    /* Hide search bar unless overwritten; use inline-flex for that */
    /* display: inline-flex; */
    display: none;
}

.mdl-search input {
    max-width: 600px;
}

.mdl-search,
.mdl-search input {
    /* Cross browser flex-grow */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdl-search {
}

/* Position search icon */
.mdl-search .material-icons {
    position: relative;
    right: -40px;
    margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdl-search input {
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #4d7fbe;
    padding: 0px 35px 0px 70px;
    height: 40px;

    border-radius: 5px 5px 5px 5px;
}

.mdl-search input:hover {
    background-color: #6994c9;
}

.mdl-search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
.mdl-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF;
    opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdl-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFFFFF;
}
