<!-- Render an input field for form validation (with possible errors) -->
{% macro render_field(field) %}
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
                                            {{ field(class_="mdl-textfield__input") }}
                                            {{ field.label(class_="mdl-textfield__label") }}
                                            {% if field.errors %}
                                            <ul>
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
{% endmacro %}
