{% extends "layout.html" %}
{% block style %}
        <style>
         ul > li {
             color: rgb(213,0,0);
         }
        </style>
{% endblock %}

{% block content %}
{% from "_macros.html" import render_field %}
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Edit</h2>
                                </div>

                                <div class="mdl-card__supporting-text">
                                    <form action="{{ url_for('entry_edit', name=name, id=entry.id) }}" method="post">
                                        <dl>
                                            {% for column in columns %}
                                            {{ render_field(form[column]) }}
                                            {% endfor %}
                                        </dl>

                                        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" value="Save">
                                        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset" value="Reset">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
