{% extends "layout.html" %}
{% block style %}
        <style>
         /* History class */
         .history-version {
             text-align: center;
             padding-top: 5px;
             padding-bottom: 5px;
         }
         .mdl-card {
             width: 100%;
         }
         .mdl-card__title {
             height: 100px;
         }
         .mdl-card__title-text {
             color: #fff;
         }
         /* Reduce height of list entries, since there are many */
         .mdl-list__item {
             height: 70px;
         }
         /* Enable word breaking at any given point */
         .mdl-list__item--three-line .mdl-list__item-text-body {
             max-height: 40px;
             overflow-y: auto;
             word-wrap: break-word;
             word-break: break-all;
         }
         .mdl-list__item--two-line .mdl-list__item-secondary-content {
             font-size: 14px;
             color: rgb(117, 117, 117);
             word-wrap: break-word;
             word-break: break-all;
         }
         /* Change avatar to icon colors */
         .mdl-list__item-avatar.material-icons {
             color: rgb(117, 117, 117);
             background: rgb(255, 255, 255);
         }
        </style>
        <link href="/static/css/aachen3adb.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <!-- Flash messages -->
        <div id="edit-confirmation" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
<div class="mdl-grid">
    <!-- Sample -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="background: url('/static/assets/sample.png') bottom right no-repeat #3F51B5;">

                <h2 class="mdl-card__title-text">{{ sample.name }}</h2>
            </div>

            <div class="mdl-card__supporting-text mdl-list">
                {% for column in sample_columns %}
                <li class="mdl-list__item mdl-list__item--three-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">{{ column.icon }}</i>
                        <span>{{ column.title }}</span>
                        <span class="mdl-list__item-text-body">
                            {{ sample[column.data] }}
                        </span>
                    </span>
                </li>
                {% endfor %}
            </div>

            <div class="mdl-card__actions mdl-card--border">
                {% for action in sample_actions %}
                <a href="{{ action.url }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">{{ action.text }}</a>
                {% endfor %}
            </div>
        </div>

        <!-- History -->
        <br>
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="background: url('/static/assets/history.png') bottom right 10% no-repeat #009688;">
                <h2 class="mdl-card__title-text">History</h2>
            </div>

            <div class="mdl-card__actions">
                <button class="accordion">Show changes</button>
                <div class="panel">
                    {% for version in (history|reverse)[:-1] %}
                    <div class="history-version">
                        {% for key, value in version.changeset.items() %}
                        <span style="float: left;"><b>{{ key }}: </b>{{ value[0] }}</span>
                        <span>&rarr;</span>
                        <span style="float: right;">{{ value[1] }}</span>
                        <br>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Skims -->
    <div class="mdl-cell mdl-cell--6-col">
        {% for skim in skims|reverse %}
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="background: url('/static/assets/skim.png') bottom right 10% no-repeat #673ab7;">
                <h2 class="mdl-card__title-text">Skim {{ skim.id }}</h2>
            </div>

            <div class="mdl-card__supporting-text mdl-list">
                {% for column in skim_columns %}
                <li class="mdl-list__item mdl-list__item--three-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">{{ column.icon }}</i>
                        <span>{{ column.title }}</span>
                        <span class="mdl-list__item-text-body">
                            {% if column.datatype == 'list' %}
                            {{ skim[column.data]|join(', ') }}
                            {% elif column.datatype == 'filesize' %}
                            {{ skim[column.data]|filesizeformat }}
                            {% else %}
                            {{ skim[column.data] }}
                            {% endif %}
                        </span>
                    </span>
                </li>
                {% endfor %}
            </div>

            <div class="mdl-card__actions mdl-card--border">
                {% for action in skim_actions %}
                <a href="{{ action.url|format(skim.id) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">{{ action.text }}</a>
                {% endfor %}
            </div>
        </div>
        <br>
        {% endfor %}

        {% if files %}
        <!-- Files -->
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="background: url('/static/assets/files.png') bottom right 10% no-repeat #ff9800;">
                <h2 class="mdl-card__title-text">{{ files|length }} File{% if files|length != 1 %}s{% endif %}</h2>
            </div>

            <div class="mdl-card__action">
                <button class="accordion">Show files</button>
                <div class="panel mdl-list">
                    {% for file in files %}
                    <li class="mdl-list__item mdl-list__item--two-line" style="height: auto;">
                        <span class="mdl-list__item-primary-content">
                            {{ file.size|filesizeformat }}
                        </span>
                        <span class="mdl-list__item-secondary-content mdl-list__item-secondary-info">
                            {{ file.path }}
                        </span>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
        <script src="/static/js/aachen3adb.js"></script>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <!-- Flashed messages -->
        <script>
         $(window).load(function() {
             'use strict';
             var notification = document.querySelector('#edit-confirmation');
             var dismiss = function(event) {
                 notification.classList.remove('mdl-snackbar--active');
             };
             var data = {
                 message: '{{ messages[0] }}',
                 timeout: 5000,
                 actionHandler: dismiss,
                 actionText: 'Dismiss'
             };
             notification.MaterialSnackbar.showSnackbar(data);
         });
        </script>
        {% endif %}
        {% endwith %}
{% endblock %}
