{% extends "layout.html" %}
{% block content %}
<!-- Greet the user -->
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <h1>Welcome, {{ username }}!</h1>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<!-- Global skim info graphics -->
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    {% for chart in charts[:2] %}
    <div id="{{ chart['id'] }}" class="mdl-cell mdl-cell--4-col" style="height: 400px;"></div>
    {% endfor %}
    <div class="mdl-layout-spacer"></div>
</div>

<!-- User skim info graphics -->
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    {% for chart in charts[2:] %}
    <div id="{{ chart['id'] }}" class="mdl-cell mdl-cell--4-col" style="height: 400px;"></div>
    {% endfor %}
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}

{% block javascript %}
    <!-- Load Google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
     google.charts.load("current", {packages:["corechart"]});
     google.charts.setOnLoadCallback(drawChart);
     function drawChart() {
         {% for chart in charts %}
         data = new google.visualization.DataTable();
         data.addColumn('string', 'Tag');
         data.addColumn('number', 'Value');
         {% if 'column' in chart %}data.addColumn({{ chart['column']|tojson }});{% endif %}
         data.addRows({{ chart['data']|tojson }});
         var chart = new google.visualization.PieChart(document.getElementById({{ chart['id']|tojson }}));
         chart.draw(data, {title: {{ chart['title']|tojson }}, pieHole: 0.3});
         {% endfor %}
     }
    </script>
{% endblock %}
