{% set navigation_items = [
    ('/index', 'home', 'Home'),
    ('/datasamples', 'assessment', 'Data Samples'),
    ('/dataskims', 'assessment', 'Data Skims'),
    ('/mcsamples', 'computer', 'MC Samples'),
    ('/mcskims', 'computer', 'MC Skims')
] -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Display specifications; *must* come first in the head -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- , minimum-scale=1.0 -->
        <!-- General website information -->
        <meta name="description" content="DB containing datasets of III. Phys. Inst. A, RWTH Aachen University">
        <meta name="author" content="Markus Radziej">
        <link rel="shortcut icon" href="/static/assets/favicon.png">

        <title>{{ title }}</title>

        <!-- Material Design Lite core CSS -->
        <link href="/static/css/material.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/aachen3adb.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        {% block style %}{% endblock %}
    </head>

    <body>
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout__header--fixed">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">Aachen 3A DB</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <!-- <div class="mdl-layout-spacer"></div> -->
                    <div class="mdl-search">
                        <i class="material-icons">search</i>
                        <input id="searchbar" type="text" placeholder="Search" size="1">
                    </div>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    {% for href, icon, caption in navigation_items %}
                    <a class="mdl-navigation__link" href="{{ href|e }}">
                        <i class="material-icons" style="vertical-align:bottom">{{ icon }}</i> {{ caption|e }}
                    </a>
                    {% endfor %}
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">{% block content %}{% endblock %}
                </div>
            </main>
        </div>

        <!-- JavaScript files; placed at the end of the document so the pages load faster -->
        <!-- Material Design Lite core JavaScript -->
        <script src="/static/js/material.min.js"></script>
        <!-- jQuery core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
        {% block javascript %}{% endblock %}
    </body>
</html>
