{% extends "layout.html" %}
{% block style %}
        <link href="/static/css/mdl-selectfield.min.css" rel="stylesheet">
        <link href="/static/css/aachen3adb.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.13/css/dataTables.material.min.css" rel="stylesheet">
        <style>
         /* Adjust width, display and overflow for very wide tables */
         .mdl-layout {
             width: auto;
             min-width: 100%;
             overflow: visible;
             display: inline-flex;
         }
         .mdl-layout__header-row .mdl-search {
             display: inline-flex;
         }
         .mdl-card {
             width: auto;
             overflow-x: visible;
         }
         .mdl-card__supporting-text {
             width: inherit;
         }
         /* Truncate long dataset paths */
         .mdl-data-table__cell--long {
             max-width: 450px;
             overflow: hidden;
             text-overflow: ellipsis;
         }
         .mdl-data-table__cell--long:hover {
             overflow: visible;
             word-wrap: break-word;
             word-break: break-all;
             white-space: normal;
         }
        </style>
{% endblock %}

{% block content %}
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text" style="padding: 20px 0;">{{ title }}</h2>
                                    <div class="mdl-layout-spacer"></div>

                                    <span style="padding-right: 10px;">Items per page</span>
                                    <div class="mdl-selectfield mdl-js-selectfield" style="width: 100px;">
                                        <select id="select-pagelength" class="mdl-selectfield__select">
                                            <option value=10>10</option>
                                            <option value=25 selected>25</option>
                                            <option value=50>50</option>
                                            <option value=100>100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <table id="main-table" class="mdl-data-table mdl-js-data-table">
                                        <thead>
                                            <tr>
                                                {% for column_title in column_titles -%}
                                                <th>{{ column_title }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}

{% block javascript %}
        <!-- dataTables core JavaScript -->
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/dataTables.material.min.js"></script>
        <script src="/static/js/mdl-selectfield.min.js"></script>
        <script type="text/javascript" charset="utf-8">
         $(document).ready(function() {
             /* DataTables configuration */
             var mainTable = $('#main-table').DataTable({
                 "columns": [
                     {
                         'data': 'id',
                         'render': function (data, type, full, meta) {
                             return '<a href="/{{ classname|lower }}s/' + data + '" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"><i class="material-icons">open_in_new</i></a>';
                         },
                         'orderable': false,
                         'searchable': false
                     }
                     {% for column in column_content -%}
                     ,{{ column|tojson }}
                     {% endfor %}
                 ],
                 "order": [[1, "desc"]],
                 "pageLength": 25,
                 "searchDelay": 1000,
                 "dom": "<'mdl-grid dt-table'"+
                        "<'mdl-cell mdl-cell--12-col'tr>"+
                        ">"+
                        "<'mdl-grid'"+
                        "<'mdl-cell mdl-cell--4-col'i>"+
                        "<'mdl-cell mdl-cell--8-col'p>"+
                        ">",
                 "processing": true,
                 "serverSide": true,
                 "ajax": "{{ url_for('get_ajax', classname=classname) }}"
             });

            /* Connect search bar to DataTables */
             $('#searchbar').keyup(function() {
                 mainTable.search($(this).val()).draw();
             });

             /* Connect pageLength menu */
             $('#select-pagelength').on('change', function() {
                 mainTable.page.len($(this).val()).draw();
             });
         });
        </script>
{% endblock %}
